// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.top-links{
   background: #E6E6E6 !important;
   border: 5px solid transparent;
   -webkit-border-image: url(/assets/bottom-border.jpg) 100 round; /* Safari 3.1-5 */
   -o-border-image: url(/assets/bottom-border.jpg) 100 round; /* Opera 11-12.1 */
   border-image: url(/assets/bottom-border.jpg) 100 round!important;
   border-style: solid!important;
   border-image-outset: 10px;
   border-top:0!important;
}

header{
  background: #FFFFFF!important;
}

.top-bar .top-bar-title a img{
  width: 260px!important;
}

header .top-bar{
    background: #FFFFFF!important;
}

.medium-8{
  width: 40%!important;
}

.auth-image h1 img{
width: 15rem!important;
}

.locale-form{
  display:none!important;
}

header .external-links {
  display: none!important;
}

.top-bar .menu > li .button{
  background: #97BF0D !important;
  color: #FFFFFF!important;
}

.top-bar .menu > li a{
  color: #78980a !important;
}

.subnavigation a.active{
    border-bottom: 2px solid #78980a !important;
    color: #78980a !important;
}

.subnavigation a:focus{
  color: #78980a !important;
}

.subnavigation a:hover{
  color: #78980a !important;
}

.submenu .active {
    border-bottom: 2px solid #78980a !important;
    color: #78980a !important;
}

.submenu a:focus{
  color: #78980a !important;
}

a{
  color: #78980a;
}

.submenu a:hover{
  color: #78980a !important;
}

.advanced-search .small a {
  color: #78980a !important;
}

.sidebar-title{
  border-top: 2px solid #78980a!important;
}

.callout.primary{
  background: #CAFFBE!important;
  color: #42663A!important;
  border-color: #AFFF9D!important;
}

.categories a{
  background: #CAFFBE!important;
  color: #42663A!important;
}


.more-info-content h3 {
    color: #222!important;
}


.categories a:hover{
  background: #97BF0D !important;
  color: #FFFFFF!important;
}

.categories a:focus{
  background: #97BF0D !important;
  color: #FFFFFF!important;
}

.budget-timeline{
  border-left-color: #97BF0D !important;
}

.expanded.budget{
  background: #97BF0D !important;
}

.expanded.budget .info{
  background: #78980a !important;
}

.budget-timeline .phase.active::before {
    background-color: #78980a !important;
}

.budget-timeline .phase.active h3 {
    background: #78980a !important;
}

.budget-timeline .phase::before {
  border-top-color: #97BF0D !important;
  border-right-color: #97BF0D !important;
  border-bottom-color: #97BF0D !important;
  border-left-color: #97BF0D !important;
}

.menu.simple h2{
  color: #78980a !important;
}

.menu.simple li a:hover{
  color: #78980a !important;
}

.help-header div a{
  color: #78980a !important;
}

.menu.simple li.active {
	border-bottom: 2px solid #78980a!important;
}

.auth-image {
	background: #78980a url(/assets/auth_bg.jpg)!important;
	background-repeat: no-repeat!important;
}

.auth-form p a, .auth-form span a, .auth-form .text-center a, .auth-form  a.float-right {
  color: #78980a!important;
}

.debate-type{
  color: #78980a!important;
}

.debate-title h4 a{
  color: #78980a!important;
}

.legislation-process-list li:hover{
  border-bottom: 2px solid #78980a!important;
}

.legislation-process-list li:focus{
  border-bottom: 2px solid #78980a!important;
}

.legislation-process-list .active{
  border-bottom: 2px solid #78980a!important;
}

.no-bullet .heading a{
  color: #78980a!important;
}

p a small{
  color: #78980a!important;
}

p a small:hover{
  color: #78980a!important;
}

.expanded.budget .button{
  color: #fff!important;
}

.investment-project-amount{
  color: #78980a!important;
}

#js-advanced-search-title{
  color: #78980a!important;
}

.button.hollow{
  border: 1px solid #78980a!important;
}

#js-toggle-small-debate{
  background: #97BF0D !important;
}

.small-12 a .button{
  background: #97BF0D !important;
}

.button.expanded{
  background: #97BF0D!important;
}

.button.button-twitter{
  background: #ecf7fc!important;
}

.button.button-facebook{
  background: #ebeef4!important;
}

.button.button-google{
  background: #fcedea!important;
}

.button.hollow:hover, .button.hollow:focus {
  border-color:  #42663A !important;
  color: #42663A !important;
}

.button.hollow{
  border-color:  #42663A !important;
  color: #42663A !important;
}

.highlight{
  background: #E6E6E6!important;
}

.subnavigation{
  background: #FFFFFF!important;
}

.footer{
  border-top-color: #97BF0D!important;
}
